.header {
  background: #fff159;
  position: fixed;
  width: 100%; /*pq sumiu o amarelo*/
  z-index: 1;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}